*.iml
.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/freeline
freeline.py
freeline_project_description.json
/captures
.externalNativeBuild
app/libs/
app/src/main/res/drawable/
